name: Free AI YouTube Bot

on:
  schedule:
    - cron: "0 9 * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install ffmpeg -y
          pip install edge-tts google-api-python-client google-auth

      - name: Run bot
        run: python main.py